.site-header {
    background-color: $color_rosa !important;
}

.site-title { 
    a {
        color: $color_blanco !important;

        &:hover {
            color:$color_blanco !important; 
        }
    }
}

.site-branding {
    p.site-description {
        color: $color_blanco !important;
    }
}

.storefront-primary-navigation {
   
    .main-navigation ul li a, .site-header-cart .cart-contents {
        color:$color_blanco !important;
    }
}

@media screen and (min-width: 768px){
    .site-header {
        border-bottom-color:transparent !important;
    }

    .storefront-primary-navigation {
        background-color: $color_rosa_dark;
    }
}
   