$color_rosa: #e182a8; 
$color_rosa_dark: #d2618e;
$color_blanco: #fff;
$color_gris_casi_blanco:#f9f9f9;
$color_gris_ligth:#ececec;
$color_gris_dark: #333333;
$color_negro: #0a0a0a;
$color_texto:#6f6767;