$color_rosa: #e182a8; 
$color_rosa_dark: #d2618e;
$color_rosa_hover: #ec7eaa;
$color_blanco: #fff;
$color_gris_casi_blanco:#f9f9f9;
$color_gris_ligth:#ececec;
$color_gris_dark: #333333;
$color_negro: #0a0a0a;
$color_texto:#6f6767;
$color_message_success:#84e2c4;

$redes_sociales_feed:#ff9900;
$redes_sociales_twitch:#6441A5;
$redes_sociales_youtube:#bb0000;
$redes_sociales_wordpress:#0073aa;
$redes_sociales_vimeo:#aad450;
$redes_sociales_tumblr:#32506d;
$redes_sociales_twitter:#00aced;
$redes_sociales_dribbble:#ea4c89;
$redes_sociales_facebook:#3b5998;
$redes_sociales_flickr:#ff0084;
$redes_sociales_foursquare:#0072b1;
$redes_sociales_google_plus:#dd4b39;
$redes_sociales_instagram:#517fa4;
$redes_sociales_linkedin:#007bb6;
$redes_sociales_pinterest:#cb2027;